* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 30px;
}
.topcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  min-width: 30px;
  max-width: 300px;
  position: relative;
  border: solid 1px black;
  overflow: hidden;
}

.box {
  border: solid 1px black;
  white-space: nowrap;
  overflow: hidden;
  margin: 5px;
  text-overflow: ellipsis;
  background-color: orange;
  max-width: 100%;
}

.resize-handle {
  width: 4px;
  height: 100%;
  background-color: pink;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
}

.jsonmodel {
  position: absolute;
  top: 0;
  left: 0;
  right: 90wh;
  bottom: 0;
  white-space: pre-wrap;
  overflow: scroll;
  z-index: 1;
}
